$color-primario: #4CAF50; 
$color-secundario: #607D8B; 
$header-bg-color: #1a1a1a; 
$header-text-color: #f8f8f8;
$color-darkgreen: #006400; 
$color-h1: #000000;
$color-h2: #d0f336;
$color-h3-h4-h5: #000000;
$color-caja-background: rgba(22, 141, 52, 0.7);
$color-caja-a-background: #51f7a4;
$color-caja-a-text: #0d9714; 
$shadow-caja-hover: 0 0 15px rgba(255, 255, 255, 0.8);
$color-header-footer-media-background: rgba(0, 0, 0, 0.5);
$color-caja-media-background: rgba(86, 138, 107, 0.6);
$color-jugador-media-border: #888888;
$color-jugador-media-background: rgba(255, 255, 255, 0.1);
$shadow-jugador-media: 0 4px 8px rgba(0, 0, 0, 0.3);
$shadow-jugador-small-media: 0 2px 4px rgba(0, 0, 0, 0.2);
$color-caja-small-media-background: rgba(0, 0, 0, 0.5);
$font-alkatra: 'Alkatra', cursive;
$sborderlink: 2px solid #00ff99; 
$borderlink: #00ff99; 
$color-nav-links-border: #00ff99;
$color-cuerpo-tecnico-background: #70b126;
