
$darkgreen: #064e3b;
$white: white;
$fuente: Alkatra;
$verde1: rgb(17, 138, 37);
$verde2: rgb(13, 73, 5);
$verde3: rgb(16, 133, 35);
$fontsizesection: 16px;
$fontsizearticle: 30px;
$fontsizelist: 1.3rem;
$borderadius: 10px;
$paddinglink: 5px;
$borderlink: 2px solid #00ff99;



