
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&display=swap');
*{
    margin: 2;
    padding: 1;
    box-sizing: border-box;
    font-family: Alkatra;
}body{
    background-color:rgb(80, 143, 88);
    background-image: url(../assets/LOGO\ NUEVO\ FONDO.jpeg);
    background-position:inherit
}
:root{
    --darkgreen: #064e3b;
}
h2{
    font-size: 1.5rem;
    color: rgb(13, 73, 5);
}
h1{
    color: rgb(17, 138, 37)
}

h3{
    color:rgb(16, 133, 35)
    ;
}
h4{
    color: rgb(47, 143, 28);
}
h5{
    color: rgb(17, 151, 28);
}
*{
    font-family:Alkatra;
}
ul li {
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.logo{
    top: 30px;
    z-index: 1000;
    width: auto;
    height: 40vh;
    background-color: transparent;
}

section{
    font-size: 50px;
}
article{
    font-size:30px;
}
li{
    list-style-position: outside;
}
img{
    height: 220px;
    width: 220px;
}
.nav-links{
    color: darkgreen;
    text-decoration: none;
    color: var(--darkgreen);
    border-radius: 10px;
    padding: 5px;
    border: 2px solid #00ff99;
    transition: 0.3s;
}
.nav-links:hover{
    box-shadow: 0 0 10px #00ff99;
                0 0 20px #00ff99;
}
div{
    background-color: rgb(87, 143, 86);
    margin: 150px;
    padding: 10px;
    border: 1px solid var(--darkgreen);
}
.caja{
    background-color: #6cda7b;
    padding: 35px;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    margin: 15px;
}
.caja.a{
    margin: 15px;
    background-color: #3c8673;
    height: auto;
    width: auto;
    padding: 20px;
    font-size: 30px;
    color: white;
}

.flex{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
.caja:hover{
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 255, 150, 0.4);
    }
.redes{
    height: auto;
    width: 50px;
}
li {
    font-size: 1.3rem; 
    font-weight: bold;
}
.galeria{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.galeria img{
    width: 300px;
    height: auto;
    border-radius: 10px;
}
.galeria-posta img{
    width:auto;
    height:500px;
}